*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family:poppins;
}
body{
  font-family: poppins;
}
.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #228B22;
  color: white;
 
}

.logo {
  font-size: 32px;
  margin: 8px;
  
}

.logo a{
  text-decoration: none;
  color: white;
}

.logo :hover{
  text-decoration: none;
  color: white;
}

.nav-links {
  height: 100%;
  text-transform: uppercase;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
  text-align: center;
  margin: 5px;
  border-radius: 2px;
}

.nav-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.nav-links li:hover {
  background: #4d5d53;
  transition: .7s;
}

.hamburger-button {
  position: absolute;
  top: 12px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .nav {
      flex-direction: column;
      align-items: flex-start;
      
  }

  .hamburger-button {
      display: flex;
  }

  .nav-links {
      display: none;
      width: 100%;
      
  }

  .nav-links ul {
      width: 100%;
      flex-direction: column;
      text-transform: uppercase;
      background-color:#7A9972;

  }

  .nav-links ul li {
      text-align: center;
      

  }

  .nav-links ul li a {
      padding: .5rem 1rem;
  }
  .nav-links li:hover{
      transition: .5s;
      background: #4d5d53;
  }

  .nav-links.active {
      display: flex;
  }
}

@media (max-width: 412px){


  .nav {
    flex-direction: column;
    align-items: flex-start;
    
}

.hamburger-button {
    display: flex;
}

.nav-links {
    display: none;
    width: 100%;
    
}

.nav-links ul {
    width: 100%;
    flex-direction: column;
    text-transform: uppercase;
    background-color:#7A9972;

}

.nav-links ul li {
    text-align: center;
    

}

.nav-links ul li a {
    padding: .5rem 1rem;
}
.nav-links li:hover{
    transition: .5s;
    background: #4d5d53;
}

.nav-links.active {
    display: flex;
}

    .purchase{
      width: fit-content;
      height: 100%;
      text-align: left;
      max-width: 50%;
    }

    .donate{
      width: fit-content;
      height: 100%;
      text-align: left;
      max-width: 50%;
    }

    .donation{
      width: fit-content;
    }
    .img{
      width: fit-content;
    }
}

.container{
  display: table;
  min-width: 100%;
  max-width: 100%;
  padding: 1%;

}



.donate{
  justify-content: top;
  width: 50%;
  min-width: 50%;
  float: right;
  justify-content: top;
  text-align: left;
  font-size: medium;
  border: #4d5d53 solid 5px;
  border-left: solid #4d5d53 2.5px; 
  min-height: 100%;
  padding: 1%;
}

.purchase{
  min-width: 50%;
  min-height: 100%;
  width: 50%;
  float: left;
  text-align: left;
  justify-content: top;
  font-size: medium;
  border: #4d5d53 solid 5px;
  border-right: solid #4d5d53 2.5px; 
  padding: 1%;


}

.footer {
padding:40px 0;
background-color:#4d5d53;
color:#ffffff;
border-top: #4d5d53 solid 1px;
max-height: 30%;
line-height: 30%;
}

.footer ul {
padding:0;
list-style:none;
text-align:center;
font: size 18px;
line-height:1.6;
margin-bottom:0;
}

.footer li {
padding:0 0.625rem;
}

.footer ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer ul a:hover {
opacity:1;
}

.footer .social {
text-align:center;
padding-bottom:26px;
padding-right: 21px;
padding-left: 21px;
}

.footer .social > a {
font-size:25px;
width:41px;
height:41px;
line-height:41px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin:0 8px;
color:inherit;
opacity:0.75;

}

.footer .social > a:hover {
opacity:0.9;
}

.footer .copyright {
margin-top:16px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}


.donate img{
  width: 100%;
}    


.footer .social-text{text-align: center;}

.footer .social-text > a{
text-align: center;
width: 100%;
text-decoration: none;
padding-right: 10px;
color: white;
opacity: 0.75;


}

.footer .social-text > a:hover{
text-decoration: none;
color: white;
padding-right: 10px;
text-align: center;
opacity: 0.9;

}

.cardDetails{
  font-size: 15px;
  font-style: italic;
}

#submit{
  padding: 2%;
  font-size: large;

}





#txtOut{
  color: red;
}

.orders img{
  width: 25%;
}

.orders{
  text-align: center;
  min-height: fit-content;
}

.orders button{
  padding: 5px;
  margin-right: 3px;
  margin-top: 5px;
  font-weight: bold;
  
  
}




#orderOut{
  min-height: 100px;
  border: solid 5px #228B22;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

